<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/96fb465b42.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap" rel="stylesheet">
        <title>MercadoLiebre</title>
    </head>

    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="\img\logo-mercado-liebre.svg" class="logo"> </img>
                <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>
            
            <div id="input">
            <!-- <form action="" method="">
                    <p> <label for="nombre_apellido">Nombre y apellido:</label>
                        <input type="text" name="nombre_apellido"> </p>
            !-->
                <input placeholder="Buscar productos, marcas"><l class="fas fa-search"></l>
            </div>

            <a href="#" class="hamburguer-bottom">
                <i class="fas fa-bars"></i>
            </a>
            
            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li> <a href="#"> Ofertas </a> </li>
                    <li> <a href="#"> Tiendas Oficiales </a> </li>
                    <li> <a href="#"> Vender </a> </li>
                    <li> <a href="#"> Ayuda </a> </li>
                </ul>
                <ul class="right-navbar">
                    <li> <a href="./register.html"> Crea tu cuenta <i class="far fa-id-card"> </i></a> </li>
                    <li> <a href="./login.html"> Ingresa <i class="fas fa-sign-in-alt"></i> </a> </li>
                    <li> <a href="#"> Mis Compras <i class="fas fa-shopping-basket"></i> </a> </li>
                </ul>
            </nav>

        </header>

        <div class="banner">
            <img src="\img\img-home-banner.jpg">
        </div>
            
        <main>

            <section class="visita">
                <h2>Basado en tu última visita</h2>
                <div class="articulos">
                    <article>
                        <div class="imgProd">
                            <img src="\img\img-cafetera-moulinex.jpg" width="250px" height="200px">
                        </div>
                        <div id="truck"> <i class="fas fa-truck"></i> </div>
                        <div class="price"> $6.770,00 </div>
                        <div class="descuento"> 40% Off </div>
                        <div class="nameProd"> Cafetera Moulinex </div>
                    </article>

                    <article>
                        <div class="imgProd">
                            <img src="\img\img-macbook-pro-2019.jpg" width="250px" height="200px">
                        </div>
                        <div id="truck"> <i class="fas fa-truck"></i> </div>
                        <div class="price"> $230.000,00 </div>
                        <div class="descuento"> 20% Off </div>
                        <div class="nameProd"> MacBook Pro 2019 </div>
                    </article>

                    <article>
                        <div class="imgProd">
                            <img src="\img\img-samsung-galaxy-s10.jpg" width="250px" height="200px">
                        </div>
                        <div id="truck"> <i class="fas fa-truck"></i> </div>
                        <div class="price"> $70.500,00 </div>
                        <div class="descuento"> 10% Off </div>
                        <div class="nameProd"> Samsung Galaxy S10 </div>
                    </article>
                </div>

                <article>
                    <div class="imgProd">
                        <img src="\img\img-tv-samsung-smart.jpg" width="250px" height="200px">
                    </div>
                    <div id="truck"> <i class="fas fa-truck"></i> </div>
                    <div class="price"> $23.200,00 </div>
                    <div class="descuento"> 5% Off </div>
                    <div class="nameProd"> SmartTv Samsung 43" </div>
                </article>
            </section>
            
            <section class="oferta">
                <h2>Sección de Ofertas </h2>
                <div class="articulos">
                    <article>
                        <div class="imgProd">
                            <img src="\img\img-cafetera-moulinex.jpg" width="250px" height="200px">
                        </div>    
                        <div id="truck"> <i class="fas fa-truck"></i> </div>
                        <div class="price"> $6.770,00 </div>
                        <div class="descuento"> 40% Off </div>
                        <div class="nameProd"> Cafetera Moulinex </div>
                    </article>
                
                    <article>
                        <div class="imgProd">
                            <img src="\img\img-macbook-pro-2019.jpg" width="250px" height="200px">
                        </div>
                        <div id="truck"><i class="fas fa-truck"></i> </div>
                        <div class="price"> $230.000,00 </div>
                        <div class="descuento"> 20% Off </div>
                        <div class="nameProd"> MacBook Pro 2019 </div>
                    </article>

                    <article>
                        <div class="imgProd">
                            <img src="\img\img-samsung-galaxy-s10.jpg" width="250px" height="200px">
                        </div> 
                            <div id="truck"> <i class="fas fa-truck"></i> </div> 
                            <div class="price"> $70.500,00 </div>
                            <div class="descuento"> 10% Off </div>
                            <div class="nameProd"> Samsung Galaxy S10 </div>
                    </article>
                    
                    <article>
                        <div class="imgProd">
                            <img src="\img\img-tv-samsung-smart.jpg" width="250px" height="200px">
                        </div>
                        <div id="truck"> <i class="fas fa-truck"></i> </div>
                        <div class="price"> $23.200,00 </div>
                        <div class="descuento"> 5% Off </div>
                        <div class="nameProd"> SmartTv Samsung 43" </div>
                    </article>
                </div>
            </section>
        </main>  
            
        <footer>
            <div class="footer-paga">
                <div class="icono-footer">
                    <i class="fas fa-credit-card"> </i>
                </div>
                <b> Pagá con tarjeta o efectivo </b>
                <p> Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! <p>
            </div>
            <div class="footer-envio">
                <div class="icono-footer">
                    <i class="fas fa-gift"></i>
                </div>
                <b> Envío gratis desde $ 2.500 </b>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            <div class="footer-devolvelo">
                <div class="icono-footer">
                    <i class="fas fa-user-shield"></i>
                </div>
                <b> Seguridad, de principio a fin </b>
                <p> ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
            </div>
            <p class="copy"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>

    </body>
</html>

 